
    <div class="container login">
        <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>Sign In</h1>
            <form action="/login" method="POST">
                <div class="form-group input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input type='text' class="form-control" name='username'  placeholder="Username" />
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input type="password" class="form-control" name='password'  placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <button type="submit" href='/' class="btn btn-primary btn-block" > Sign In </button>
                    </div>
            </form>
        </div>
    </div>
    <div class="col-lg-4"></div>
    </div>