@model string

<div class="create-group-form">
    <form method="POST">
        <h2>Enter name for group</h2>
        <input type="text" name="name" asp-for="@Model" />
        <button type="submit" class="material-icons">add_circle_outline</button>
    </form>
</div>