
<div class="sidebar content-area">

    @if (User.Identity.IsAuthenticated)
    {
    <ul>
        @if (User.IsInRole("Administrator"))
        {
            <li>All Users</li>
        }
        else if (User.IsInRole("TeamLeader"))
        {
            <li><a asp-area="Teamleader" asp-controller="Group" asp-action="Index">My Groups</a></li>
            <li><a asp-area="Teamleader" asp-controller="Group" asp-action="Create">Create Group</a></li>
            <li><a asp-area="Teamleader" asp-controller="Task" asp-action="CreateTask">Create Task</a></li>
            <li><a asp-area="Teamleader" asp-controller="Task" asp-action="IndividualTasks">Individual Tasks</a></li>
            <li><a asp-area="Teamleader" asp-controller="Task" asp-action="GroupTasks">Group Tasks</a></li>
            <li><a asp-area="Teamleader" asp-controller="Task" asp-action="GetAllTasks">All Tasks</a></li>
        }
        else
        {
            <li><a asp-area="Users" asp-controller="Home" asp-action="GetUserGroups">My Groups</a></li>
            <li><a asp-area="Users" asp-controller="Home" asp-action="GetUserTasks">My Tasks</a></li>
        }
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    </ul>
    }
    else
    {
        <ul>
            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        </ul>
    }
</div>
